.relatedProducts_cart {
    display: grid;
    max-width: 285px;
    position: relative;
}

.relatedProducts_cart_titles_container {
    background-color: #F4F5F7;
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    padding: 5px;
}

.relatedProducts_cart_titles {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
}

.relatedProducts_cart_titles span:first-child {
    font-size: var(--font-size-s); 
    margin-bottom: 8px;
    font-weight: var(--weight-medium);
}

.relatedProducts_cart_titles span:nth-child(2){
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
}

.relatedProducts_cart_titles_price {
    /* display: flex; */
    gap: 16px;
}

.relatedProducts_cart_titles_price span:first-child{
    font-size: var(--font-size-s); 
    margin-bottom: 3px;
}

.relatedProducts_cart_titles_price span:nth-child(2){
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
    font-weight: var(--weight-regular);
    text-decoration: line-through;
    margin-left: 10px;
}

.relatedProducts_cart_discount {
    position: absolute;
    top:0;
    right: 24px;
    top: 24px;
}


