.relatedProducts_container {
    width: 100%;
    border-bottom: 1px solid var(--color-secondary);
}

.relatedProducts{
    max-width: 1240px;
    margin: 0 auto;
}
 
.relatedProducts > p {
     text-align: center;
     font-size: var(--font-size-m);
     font-weight: var(--weight-medium);
}

.relatedProducts_carts_container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.relatedProducts_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 92px;
}

.relatedProducts_button{
    border: 1px solid  #B88E2F;
    color: #B88E2F;
    font-size: var(--font-size-xs);
    background-color: white;
    padding: 12px 74px;
}

@media only screen and (max-width: 375px) {
    .relatedProducts_carts_container {
        place-items: center;
        grid-template-columns: 1fr;
        gap:10px;
    }
  }