.nav-container {
    max-width: 1808px;
    margin-top: 38px;
    padding-bottom: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    place-items: center;
    justify-content: space-between;  
}

.nav_menu {
    font-size: var(--font-size-xs);
    font-weight: var(--weight-medium);
}

.nav_menu_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
}

.nav_menu_list_item {
    list-style-type: none;

}

.nav-link{
    text-decoration: none;
    color: var(--color-secondary);;
}

.nav_icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}

@media only screen and (max-width: 375px) {
    .nav_menu{
        display: none;
    }

    .nav_icon {
        display: none;
    }

    .nav_l{
        width: 140px; 
        height: 100px; 
    }

    .nav-container {
        margin-top: 16px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
  }