.nav-container {
    max-width: 1808px;
    margin-top: 38px;
    padding-bottom: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    place-items: center;
    justify-content: space-between;  
}

.nav_menu {
    font-size: var(--font-size-xs);
    font-weight: var(--weight-medium);
}

.nav_menu > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
}

.nav_menu > ul > li {
    list-style-type: none;

}

.nav_icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}

.nav_menu > ul > li > a {
   text-decoration: none;
}

.burgerMenu {
    display: none;
}


@media only screen and (max-width: 375px) {
    .nav_menu{
        display: none;
    }

    .nav_icon {
        display: none;
    }

    svg {
        width: 100px; /* Default width */
        height: 100px; /* Default height */
    }

    .nav-container {
        margin-top: 16px;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        place-items: start;
    }

    .burgerMenu {
        display: block;
    }
  }